h1 {
    color: #f95959; 
}

a {
   color: #f95959;  
   text-decoration: none;
}

a:hover {
    color: #e3e3e3; 
    text-decoration: underline;
}



.button {
    background-color: #f95959; 
    border: none;
}

.button:hover {
    background-color: #e3e3e3;
    color: #f95959; 
}

img {
max-width: 700px;
border-radius: 30px 10px;
margin: 12px;
box-shadow: 10px 10px 20px rgba(35, 49, 66, 0.2);
}

footer {
	background: #455d7a; 
    padding: 50px;
    margin-bottom: 0;
}

.fotocredit {
    margin: 20px;
    color: #e3e3e3;
    text-align: center;
    font-size: 8px;
  
 
}
.fotocredit li {
    list-style: none;
}