h1 {
    color: #C4323C;
}

.button {
    background-color: #C4323C;
    border: none;
}

.button:hover {
    background-color: #e3e3e3;;
    color: #C4323C;
}

img {
max-width: 400px;
border-radius: 30px 10px;
margin: 12px;

}